- FeaturedConstitution.includes(:constitution).map(&:constitution).each do |constitution|
  .featured-constitution
    - user = constitution.user
    - if user
      %span.user= link_to user.display_name, user
      %span.separator /
    %span.constitution= link_to constitution.title, constitution
    